<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>title</title>
  </head>
  <body>
      <div class=container>
        <div class="pane info-pane">
            <div>
                <h4>Enter Dates of Interest</h4>
            </div>
            <div class="select-dates">
                {{#dateRows}}
                    <div class="row">
                        {{#dates}}
                        <div class="date" onmousedown="dateClick(this)" onmouseover="changeBackground(this)">
                            {{.}}
                        </div>
                        {{/dates}}
                    </div>
                {{/dateRows}}
            </div>
      </div>
  </body>
      <script>
        var isMouseDown = false
        var changeBackground = function(date) {
            if(isMouseDown) {    
                if((' ' + date.className + ' ').indexOf(' highlighted ') > -1) {
                    date.className = 'date';
                } else {
                    date.className += ' highlighted';
                }
            }
        }
        var dateClick = function(date) {
            isMouseDown = true;
            changeBackground(date);
        }
        // handle outside div mouse down -- natural motion
        document.body.onmousedown = function() {
            isMouseDown = true;
        };
        document.body.onmouseup = function() {
            isMouseDown = false;
        };
      </script>
</html>
